
main {
	width: 40%;
	background: rgb(53 52 52 / 43%);
	margin: auto;
  padding: 1% 46px 10px 5%;
  margin-top: 10%;
}

h1 {
   color: white;
   font-family: 'Schoolbell', cursive;
}

h2 {
    color: #4a343c;
    font-size: 1.2rem;
    font-family: 'Tajawal', sans-serif;
 }

p {
    color:   #ffffff;
    font-family: 'Tajawal', sans-serif;
		font-size: 1.5rem;
 }


button {
	width: 25%;
	margin: 4% auto 0 auto;
  padding: 2% 1%;
	/* text-align: center;
	text-transform: uppercase; */
	font-weight: bold;
	letter-spacing: 0.125rem;
	border: 0.1rem solid #ff9800;;
	color: white;
  background-color: #ff9800;;
  border-radius: 0.27rem;
}
